<!DOCTYPE html>
<html>

<head>
  <title>Javascript</title>
  <script src="script.js"></script>
</head>

<body>
  <h1 style="color: green; text-align: center">Javascript - Basic</h1>
  <div style="margin-left:30px;margin-right:100px;">
    <button style="background-color: orange">
      <a href="../../index.html" style="text-decoration: none">back</a>
    </button>
    <h3>What is javascript?</h3>
    <p style="font-size:18px">JavaScript is a scripting or programming language that allows you to implement complex
      features on web pages
      JavaScript is a dynamic computer programming language. It is lightweight and most commonly used as a part of web
      pages,
      whose implementations allow client-side script to interact with the user and make dynamic pages. It is an
      interpreted
      programming language with object-oriented capabilities.</p>
    <h3>Informations</h3>
    <p style="font-size:18px">A) Javascript was crated in May 1995 by Brendon Eich</p>
    <p style="font-size:18px">B) Fist name was Mocha. Followed livescript, javascript, ecmascript</p>
    <p style="font-size:18px">C) All web developer must know javasript</p>
    <p style="font-size:18px">D) Prerequesite:
      HTML and css</p>
    <p style="font-size:18px">E) Java and javascript are different lanaguge</p>
    <p style="font-size:18px">F) Advantages and disadvantages of javascript</p>
    <div style="margin-left:20px">
      <p style="font-size:18px">a) advantages: client side execution, validation on browser,Easy language, no
        compiler,speed,</p>
      <p style="font-size:18px">b) disvangage: less secure becuse of client, no hardware access,
      </p>
    </div>
    <h3>Versions of javascript</h3>
    <p style="font-size:18px">1997 ECMA 1 First Edtion</p>
    <p style="font-size:18px">1998 ECMA 2 Editorial Changes</p>
    <p style="font-size:18px">1999 ECMA 3 Added regular expression and try and catch block</p>
    <p style="font-size:18px">ECMA 4 Never released</p>
    <p style="font-size:18px">2009 ECMA 5</p>
    <div style="margin-left:20px">
      <p style="font-size:18px">Javascript will accept code violation. Use strict mode will throw error if code vialtion exists</p>
      <p style="font-size:18px">String.trim()</p>
      <p style="font-size:18px">Array.isArray()</p>
      <p style="font-size:18px">Array.forEach()</p>
      <p style="font-size:18px">Array.map()</p>
      <p style="font-size:18px">Array.filter()</p>
      <p style="font-size:18px">Array.reduce()</p>
      <p style="font-size:18px">Array.reduceRight()</p>
      <p style="font-size:18px">Array.every()
      </p>
      <p style="font-size:18px">Array.some()

      </p>
      <p style="font-size:18px">Array.indexOf()
      </p>
      <p style="font-size:18px">Array.lastIndexOf()

      </p>
      <p style="font-size:18px">JSON.parse()

      </p>
      <p style="font-size:18px">JSON.stringify()

      </p>
      <p style="font-size:18px">Date.now()


      </p>

    </div>
    <p style="font-size:18px">F) Advantages and disadvantages of javascript</p>
    <p style="font-size:18px">F) Advantages and disadvantages of javascript</p>
    <p style="font-size:18px">F) Advantages and disadvantages of javascript</p>
    <p style="font-size:18px">F) Advantages and disadvantages of javascript</p>

  </div>
  </div>

</body>

</html>